@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: goldenrod;
}

body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100vw;

}

main{
    
    height: 100vh;
    position: relative;
}

section#celular{
    
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    background-image: url("../imagens/frame-iphone.png");
   background-repeat: no-repeat; 
   border-radius:58px;
    
}
 section iframe{
    position:relative;
    background-size: cover;
    height: 468px;
    width: 266px;
     top: 80px;
    left: 20px;
    background-image: url(../imagens/tela-home.jpg);
    
    
   }

   #redes img{
    border-radius: 100px;
    width: 75px;
    box-sizing: border-box;
    box-shadow: 3px 3px
    5px rgba(0, 0, 0, 0.534);
 }

 #redes img:hover{
    border: 2px solid whitesmoke;
    transition: border .4s;
    
    
 }

   #redes{
    position:absolute;
    background-color: rgba(165, 101, 42, 0.205);
    left: 88%;          
    top: 9%;
    width: 30px;
    
 }
